* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(./assets/IMG/bgImage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.form-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 300px;
  width: 300px;
  background-color: #678085;
  border-radius: 5%;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.5), 0 20px 20px 0 rgba(0, 0, 0, 0.5);
  margin-top: 10px;
}

.table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px;
  width: 500px;
  background-color: #678085;
  border-radius: 2%;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.5), 0 20px 20px 0 rgba(0, 0, 0, 0.5);
  margin-top: 10px;
  margin-right: 300px;
  margin-left: 3px;
  overflow-y: auto;
  padding-top: 20px;
}

h1 {
  font-size: large;
  color: #19353b;
  padding-bottom: 25px;
}

input {
  border-radius: 15px;
  border: none;
  margin: 10px;
  height: 30px;
  width: 80%;
  background-color: #d2dee0;
  padding-left: 15px;
  color: #666d6e;
}

input:focus {
  outline: none;
}

button {
  margin-top: 20px;
  height: 30px;
  width: 90px;
  background-color: #6e0909;
  border: none;
  border-radius: 15px;
  color: #d2dee0;
}

#table {
  display: flex;
  flex-direction: column;
  border: 1px solid #fff;
  width: 80%;
  max-width: 500px;
  color: #19353b;
}

.table-header {
  display: flex;
  background-color: #d2dee0;
  font-weight: bold;
}

.table-row {
  display: flex;
  border-top: 1px solid #fff;
}

.table-cell {
  flex: 1;
  padding: 10px;
  text-align: center;
  border-right: 1px solid #fff;
  width: 20%;
}

.table-cell:last-child {
  border-right: none;
}

svg {
  display: inline-block;
  flex-direction: column;
  height: 15px;
  width: 15px;

  border: none;
  border-radius: 15px;
  color: #d2dee0;
}

#family-error,
#score-error,
#name-error {
  color: #6e0909;
  font-size: 12px;
}
